{% extends 'base.html.twig' %}

{% block aboutActive %}active{% endblock %}


{% block title %}À Propos{% endblock %}

{% block body %}
	<h1 class="mt-5 mb-5">À propos de Stéphane</h1>

    <div>
        {{ content|raw }}
    </div>
{% endblock %}
