{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <h1 class="mt-5">Mentions Légales</h1>

    <h2>1. Informations générales</h2>
    <p>
        Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, il est précisé aux utilisateurs du site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>

    <h3>Propriétaire du site</h3>
    <p>
        Ce site est un site personnel à but non lucratif. Le propriétaire du site souhaite rester anonyme conformément à l'article 6-III de la Loi pour la Confiance dans l'Économie Numérique (LCEN).
    </p>

    <h3>Hébergeur du site</h3>
    <p>
        Le site est hébergé par la société o2switch :<br>
        o2switch<br>
        Siret : 510 909 807 00032<br>
        RCS Clermont Ferrand<br>
        SAS au capital de 100 000€<br>
        Opérateur Télécom déclaré ARCEP : 09/2989 – AS50474<br>
        Marque déposée INPI : 09 3 645 279<br>
        Numéro de téléphone : 04 44 44 60 40<br>
        Site web : <a href="https://www.o2switch.fr/" target="_blank">https://www.o2switch.fr/</a>
    </p>

    <h2>2. Limitation de responsabilité</h2>
    <p>
        Le propriétaire du site ne pourra être tenu responsable des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site. Le site est fourni "tel quel" et aucune garantie n'est faite quant à sa disponibilité ou à l'exactitude des informations présentées.
    </p>

    <h2>3. Propriété intellectuelle</h2>
    <p>
        Les contenus du site (textes, images, etc.) sont protégés par le droit d'auteur. Toute reproduction ou représentation, totale ou partielle, des éléments du site est interdite sans l'autorisation préalable de l'éditeur, conformément à l'article L.122-4 du Code de la propriété intellectuelle.
    </p>

    <h2>4. Collecte et traitement des données personnelles</h2>
    <p>
        Dans le cadre de l'enregistrement sur ce site, nous collectons des données personnelles, notamment votre adresse e-mail. Ces données sont nécessaires pour créer et gérer votre compte.
    </p>
    <p>
        Nous nous engageons à ne pas divulguer vos données personnelles à des tiers sans votre consentement. Vous avez le droit d'accéder à vos données, de les modifier ou de demander leur suppression à tout moment.
    </p>
    <p>
        Pour plus d'informations sur la manière dont nous traitons vos données, veuillez consulter notre politique de confidentialité.
    </p>

    <h2>5. Politique de confidentialité</h2>
    <p>
        Aucune autre donnée personnelle n'est collectée ou traitée par ce site, à l'exception des informations relatives à la gestion des cookies et des données que vous choisissez de fournir lors de l'enregistrement.
    </p>

{% endblock %}
