.container {
  width: 96%;
  max-width: 90em;
  margin: 0 auto;
}

.btn {
  background-color: var(--color-main);
  border: 0;
  border-radius: 3px;
  color: black;
  padding: 0.5rem;
  display: inline-block;
}

.card__action .btn {
  margin-right: 0.25rem;
}

/* slider */
.slider {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid #000000; */
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 2rem;
  /* border: 4px solid royalblue; */
}

.slider__img--current {
  opacity: 1;
  z-index: 1;
  /* border: royalblue; */
}

.slider__btn {
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.purple-text th,
h1 {
  color: purple;
}

.custom-navbar {
  background-color: purple;
}

main {
  padding-bottom: 80px; /* Ajuste cette valeur pour éviter le chevauchement */
}

.img-fluid {
  width: 100%; /* S'assure que l'image occupe toute la largeur du conteneur */
  height: 100%; /* Garde les proportions de l'image */
  object-fit: cover; /* Recouvre le conteneur sans déformer l'image */
}

/* responsive */
@media screen and (min-width: 40em) {
  .header__flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    width: calc((100% - 1rem) / 2);
  }
}

@media screen and (min-width: 60em) {
  .card {
    width: calc((100% - 2rem) / 3);
  }
}
