{% extends 'baseback.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5">Modifier le texte "À propos"</h1>

        {% for flashMessage in app.flashes('success') %}
    <div class="alert alert-dismissible alert-success">
        {{ flashMessage }}
         <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endfor %} 


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
