{% extends 'base.html.twig' %}

{% block indexActive %}active{% endblock %}

{% block title %}Mes Origamis{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Les Origamis de Stéphane</h1>

		<section class="slider">
			<button class="btn slider__btn" type="button" aria-label="Précédent">&lt;</button>
			<button class="btn slider__btn" type="button" aria-label="Suivant">&gt;</button>
		</section>

<script src={{asset("js/slider.js")}}></script>

{% endblock %}

