{% extends 'base.html.twig' %}

{% block title %}Conditions Générales{% endblock %}

{% block body %}
    <h1 class="mt-5">Conditions Générales d'Utilisation</h1>

    <h2>1. Acceptation des Conditions</h2>
    <p>
        En vous inscrivant sur notre site, vous acceptez les présentes conditions générales d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.
    </p>

    <h2>2. Utilisation du Site</h2>
    <p>
        Ce site est dédié aux passionnés d'origami. Vous pouvez poster et décrire vos propres origamis. L'utilisation du site doit rester dans un cadre respectueux et conforme aux lois en vigueur.
    </p>
    
    <h2>3. Modération</h2>
    <p>
        En tant qu'administrateur, je me réserve le droit de supprimer tout contenu inapproprié, y compris, mais sans s'y limiter, les images à caractère pornographique ou offensant. Les utilisateurs peuvent uniquement modifier ou supprimer leurs propres origamis.
    </p>

    <h2>4. Propriété des Contenus</h2>
    <p>
        Vous conservez les droits d'auteur sur vos créations, mais en postant sur notre site, vous nous accordez le droit d'afficher vos origamis publiquement.
    </p>

    <h2>5. Limitation de Responsabilité</h2>
    <p>
        L'administrateur ne pourra être tenu responsable des dommages directs ou indirects causés par l'utilisation du site ou par l'impossibilité d'accéder au site.
    </p>

    <h2>6. Modification des Conditions</h2>
    <p>
        Ces conditions peuvent être modifiées à tout moment. Les utilisateurs seront informés de toute modification par le biais du site.
    </p>
{% endblock %}
